<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>

<body>
    <% layout("/layouts/boilerplate") %>
        <h3>Create a New Listing</h3>
        <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="md-3 mt-3">
                <label for="title" class="form-label">Title</label>
                <input name="listing[title]" placeholder="enter title" type="text" class="form-control" required />
                <div class="valid-feedback">Title looks good!</div>
            </div>

            <div class="md-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" placeholder="enter description" type="text" class="form-control"
                    required></textarea>
                <div class="invalid-feedback">Please enter short description</div>
            </div>

            <div class="md-3">
                <label for="image" class="form-label">Upload Listing image:</label>
                <input name="listing[image]" type="file" class="form-control" required />
            </div>

            <div class="row">
                <div class="md-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" placeholder="enter price" class="form-control" required />
                    <div class="invalid-feedback">Price should be valid</div>
                </div>

                <div class="md-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" placeholder="enter country" type="text" class="form-control"
                        required />
                    <div class="invalid-feedback">Country should be valid</div>
                </div>
            </div>

            <div class="md-3">
                <label for="location" class="form-label">Location</label>
                <input name="listing[location]" placeholder="enter location" type="text" class="form-control"
                    required />
                <div class="invalid-feedback">Location should be valid</div>
            </div>
            <br>
            <button type="submit" class="btn btn-dark add-btn">Add</button>
            <br>
            <br>
        </form>
</body>

</html>